BC/disp_field.m
BC/Dx_E13_32_E15_inner
BC/Dx_E13_32_E15_inner_wall
BC/Dx_E13_32_E15_outer
BC/Dx_E13_32_E15_outer_wall
BC/Dx_E13_E15_inner
BC/Dx_E13_E15_inner_wall
BC/Dx_E13_E15_outer
BC/Dx_E13_E15_outer_wall
BC/Dx_E15_E17_inner
BC/Dx_E15_E17_inner_wall
BC/Dx_E15_E17_outer
BC/Dx_E15_E17_outer_wall
BC/Dx_E17_P0_inner
BC/Dx_E17_P0_inner_wall
BC/Dx_E17_P0_outer
BC/Dx_E17_P0_outer_wall
BC/E13_inner_wall.surf
BC/E13_inner.surf
BC/E13_outer_wall.surf
BC/E13_outer.surf
BC/E15_inner_wall.surf
BC/E15_inner.surf
BC/E15_outer_wall.surf
BC/E15_outer.surf
BC/E17_inner_wall.surf
BC/E17_inner.surf
BC/E17_outer_wall.surf
BC/E17_outer.surf
BC/interpolation.m
BC/P0_inner_wall.surf
BC/P0_inner.surf
BC/P0_outer_wall.surf
BC/P0_outer.surf
BC/point2trimesh.m
BC/XDX_E13_E15_inner
BC/XDX_E13_E15_inner_wall
BC/XDX_E13_E15_outer
BC/XDX_E13_E15_outer_wall
BC/XDX_E15_E17_inner
BC/XDX_E15_E17_inner_wall
BC/XDX_E15_E17_outer
BC/XDX_E15_E17_outer_wall
BC/XDX_E17_P0_inner
BC/XDX_E17_P0_inner_wall
BC/XDX_E17_P0_outer
BC/XDX_E17_P0_outer_wall
BC/Xq_E13_32_inner
BC/Xq_E13_32_inner_wall
BC/Xq_E13_32_outer
BC/Xq_E13_32_outer_wall
BC/Xq_E13_inner
BC/Xq_E13_inner_wall
BC/Xq_E13_outer
BC/Xq_E13_outer_wall
BC/Xq_E15_inner
BC/Xq_E15_inner_wall
BC/Xq_E15_outer
BC/Xq_E15_outer_wall
BC/Xq_E17_inner
BC/Xq_E17_inner_wall
BC/Xq_E17_outer
BC/Xq_E17_outer_wall
